*{

	font-family: 'Source Serif Pro', serif;
}


body {background-image: url("./images/coffee.png");
	background-image: no-repeat;

}

.checked {
	color: yellow;
}

#icon {
	border-radius: 4px;
	width:50px;
	height: auto;

}